.title {
	font-family: sans-serif;
	color: #fff;
	background-color: gray;
	text-align: center;
}

h1 {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

p {
	font-size: 18px;
	margin: 0;
	padding: 0;
}

div {
	padding: 15px;
}

header {
	opacity: 1; 
}
#city-type {
	width: 680px;
	height: 70px;
	font-size: 38px;
	display: inline-block;
	vertical-align: middle;
}

